#main-wrapper{
    height:calc(100vw - 72px);
    position:fixed;
    bottom:0;
    width:100vw;
}

#main-container{
    display:flex;
    flex-direction:row;
    position:fixed;
    height:calc(100% - 48px);
    padding:24px;
    width:calc(100vw - 353px);
    background:var(--bg-color-2);
    bottom:0;
    right:0;
}